table
{
  width: 100px;
  border: solid black 2px;  
  font-weight: bold;
  font: Verdana;
  font-size: 12px;
}

td {
  min-width: 10vmin;
  height: 10vmin;
}

td[type="button"]
{
  background-color: #80E3D1;
  color: black;
  border: solid black 0px;
  border-left: solid black 2px;
  text-align: center;
  font-weight: bold;
}

td[type="buttonEq"]
{
  background-color: #80E3D1;
  color: black;
  border: solid black 0px;
  text-align: center;
}

td[type="buttonC"]
{
  background-color: #80E3D1;
  color: black;
  border: solid black 0px;
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  text-align: center;
}

td[type="text"]
{
  background-color:#80E3D1;
  color: white;
  border: solid black 0px;
  border-bottom: solid black 2px;
  text-align: right;
}

td[type="number"]
{
  background-color: white;
  color: black;
  border: solid black 0px;
  text-align: center;
}
